.blog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__side {
    flex-basis: 30%;
    background: $background;
    padding: 0 5% 0 5%;
  }

  &__form {
    margin: 2rem 2rem 2rem 2rem; 
    padding: 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;


    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 2.5% 0;
    }

    &--submit{
      text-align: center;
      margin: 2.5% auto;
      width: 100%;
      background: $buttonAccent;
      border: 1px solid $buttonAccent;
      text-transform: uppercase;
      color: $mainText;
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 0px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__photo {
    width: 80%;
    padding-top: 2rem;
    margin: 0 auto;
  }
}  

.blogposts {
  display: flex; 
  flex-direction: column;
  flex-basis: 60%;
  background: $background;
  padding-right: 10%;

  &__main {
    background: white;
    font-family: $bodyFont;
    font-size: 1.6rem;
    color: $mainText;

  }

  &__second {
    display: flex;
    flex-direction: column;
    background: white;

    &--content {
      display: flex;
      margin: 2rem 0;
    }

    &--text {
      margin: 0 auto; 
      padding: 0; 
      width: 80%;
      display: flex; 
      flex-direction: column;
      font-family: $bodyFont;
      font-size: 1.6rem;

    }

    &--link {
      text-decoration: none;
      color: $blogAuthor;
      font-family: $bodyFont;
      font-style: italic;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

.recent {
  background: white;
}

.data {
  background: white;
}