.blog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__side {
    flex-basis: 25%;
    background: $background;
    padding: 0 5% 0 10%;
  }

  &__form {
    margin: 0 0; 
    padding: 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;


    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 2.5% 0;
    }

    &--submit{
      text-align: center;
      margin: 2.5% auto;
      width: 100%;
      background: $buttonAccent;
      border: 1px solid $buttonAccent;
      text-transform: uppercase;
      color: $mainText;
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 0px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__photo {
    width: 50%;
    padding: 1rem;
  }
}  

.blogposts {
  display: flex; 
  flex-direction: column;
  flex-basis: 60%;
  background: $background;
  padding-right: 10%;

  &__main {
    background: white;
  }

  &__second {
    display: flex;
    flex-direction: column;
    background: white;

    &--content {
      display: flex;
    }

    &--text {
      margin: 0 auto; 
      padding: 0; 
      width: 80%;
    }
  }
}

.recent {
  border: 1px solid purple;
  background: white;
}

.data {
  background: white;
  border: 1px solid tomato;
}