.contact {
  background: $background;
  display: flex; 
  flex-direction: row-reverse;
  justify-content: center;
  // width: 100%;
  padding: 4% 0 0 0;

  &__form {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    width: 80%;

    &--top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 2.5% 0;
    }

    &--submit{
      text-align: center;
      margin: 2.5% auto;
      width: 100%;
      background: $buttonAccent;
      text-transform: uppercase;
      color: $mainText;
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 0px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
    }

  }
  
  &__side {
    width: 25%;
    margin: 0 auto;
    padding: 3rem;
    background: white;
    height: 250px;
  }
  
  &__links {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    padding: 0;
    width: 60%;
    
    &--item {
      color: $headerAccent;
      font-size: 2rem;
    }
  }
  
  &__email {
    font-family: $bodyFont;
    font-size: 2rem;
    font-weight: bold;
  }

  &__address {
    font-family: $bodyFont;
    font-size: 2rem;
    line-height: 32px;
    font-style: normal;
  }
}

.input {
  padding: 1rem;
  border: 0px solid white;
  font-size: 2rem;

  &::placeholder {
    font-style: italic;
  }

  &__name, &__email {
    width: 49%;
    margin: 0 0;
  }

  &__message {
    height: 250px;

    &::placeholder {
      // margin-bottom: 400px;
    }
  }
}

