.about {
  background: $background;
  padding: 5rem 0;
  margin: 0 auto;
  
  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin: 0 auto;
    font-family: $bodyFont;
    color: $mainText;
    text-transform: uppercase;
    font-size: 4.2rem;
    letter-spacing: 1px;
  }

  &__body {
    font-family: $bodyFont;
    color: $mainText;
    font-size: 2rem;
  }

  &__more {
    background: $buttonAccent;
    width: 23rem;
    padding: .8rem 0;
  }

  &__link {
    color: $mainText;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }

  &__image {
    padding-right: 5rem;
  }

  &__image--orange {
    margin-right: 5rem;
    box-shadow: 15px 15px $headerAccent;
  }
} // end who is sophie? 

.posts {
  display: flex;
  padding: 5rem 0;
  margin: 0 8rem;

  &__fav {
    flex-direction: row-reverse;
  }

  &__title {
    font-family: $bodyFont;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__container{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
  }

  &__body { // but these styles are the same as the ones for the about
    font-family: $bodyFont;
    color: $mainText;
    font-size: 2rem;
  }

  &__image--yellow {
    box-shadow: 10px 10px $headerAccent,
                80px 10px $headerAccent;
  }

  &__image--orange {
    box-shadow: 10px 10px $imageAccent,
                -80px 10px $imageAccent;
  }
}

.links {
  padding: 5rem 0 0 0;
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }  

  &__more {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: $mainText;
  }

  &__icon {
    padding: 2rem;
    font-size: 2rem;
  }

  &__container {
    width: 50%;
    min-width: 450px;
    // border: 1px solid blue;
    padding: 0 0 5rem 0;
    margin: 0;
  }

  &__title {
    margin: 0 0;
    display: inline;
    padding: 1rem 0 0 1rem;
    font-family: $bodyFont;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $mainText;
  }

  &__more--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    color: $mainText;
    background-color: $headerAccent;
    border-radius: 50%;
    padding: 0;
  }

  &__body {
    margin: 0 0;
    padding: 1rem 0 0 6rem;
    font-family: $bodyFont;
    letter-spacing: 1px;
    color: $mainText;
    font-size: 2rem;
  }
}

.journey {
  display: flex; 
  flex-direction: row;
}

.gallery {
  padding: 8rem 0;

  &__ul {
    display: flex;
    margin: 0 0;
    padding: 0 0;
  }

  &__image--padding {
    padding: 0 2rem;
  }
}



.section__gallery {
  display: flex; 
  flex-direction: row;
}


