.wrapper {
  margin: 0 auto; 
  width: 1280px;
}

.header {
  background: $headerAccent;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top: 10rem;

  
  &__text {
    font-family: $titleFont;
    text-transform: uppercase;
    color: $mainText;
    font-size: 80px;
    line-height: 9.2rem;
    padding: 3rem 0 0 0;
    margin: 0 auto;
    text-align: center;
    position: relative;

    & img {

    }
  }
  &__image {
    
    img {
    height: 90vh;
    box-shadow: 10px 10px white;
    display: block;
    }
  }
}
