.nav {
  background: $headerAccent;

  &__li {
    display: inline-block;
  }

  &__a {
    font-family: $bodyFont;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: $mainText;
  }
}

.header {
  background: $headerAccent;
}