.wrapper {
  margin: 0 auto; 
  width: 1280px;
  max-width: 80%;
}


.header {
  background: $headerAccent;
  min-height: 100vh;
  padding: 10rem 0;
  margin: 0 auto;


  &__logo {
    height: 100%;
    width: 60%;
    position: relative;
  }

  &__text {
    color: $mainText;
    font-family: $titleFont;
    font-size: 6rem;
    font-weight: bold;
    line-height: 9.2rem;
    margin: 0 auto;
    padding: 8rem 0 0 5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

  &__image {
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: -3%;
  }
  
  &__photo {
    // height: 90vh;
    // margin: 0 auto;
    box-shadow: 15px 15px white;
    display: block;
    width: 100%;
  }

  &__logo--circle {
    position: absolute;
    top: 40%;
    left: 15%;
  }
} 