.nav {
  background: $headerAccent;
  padding: 0 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 100; //to keep the nav on top of all the content

  &--mobile { 
    display: none;  //hides the mobile logo
  }
  
  &__ul {
    padding: 0 0;
    margin: 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__a {
    font-family: $bodyFont;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 29px;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainText;
    display: inline-block;
    padding: 0rem;

    &:hover {
      color: white;
    }
    
  }

  &__sophie {
  font-family: $titleFont;
  font-size: 3.5rem;
  color: $mainText;
  font-weight: 900;
  text-transform: uppercase;
  }

}



