.nav {
  background: $headerAccent;
  padding: 0 0;
  position: fixed;
  z-index: 100; //to keep the nav on top of all the content

  &--mobile { 
    display: none;  //hides the mobile logo
  }
  
  &__ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 auto;
  }

  &__li {
    padding: 0 0;
    margin: auto 0;
  }

  &__a {
    font-family: $bodyFont;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: $mainText;

    &:hover {
      color: white;
    }
  }
 
}

.sophie {
  font-family: $titleFont;
  font-size: 4rem;
  color: $mainText;
  font-weight: bold;
  text-transform: uppercase;
}


