// variables start

//colours
$mainText: #2c2c2c; // black 
$buttonAccent: #05afc1; // accent
$blogAuthor: #285e64; //dark grey blue
$accentText: #4f4f4f; // grey
$imageAccent: #a82706; //rust red
$imageAccent2: #f6a823; // orangey yellow
$background: #f0efed; //white shade

$titleFont: 'Roboto', sans-serif;
$bodyFont: 'Lora', serif;

