article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 65.5%;
}

ul {
  list-style: none;
  margin: 0 0;
}

ul li {
  margin: 0 0;
  padding: 0 0;
}

img {
  display: block;
  max-width: 100%;
}

.nav {
  background: #f6a823;
  padding: 0 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.nav--mobile {
  display: none;
}

.nav__ul {
  padding: 0 0;
  margin: 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c2c2c;
  display: inline-block;
  padding: 0rem;
}

.nav__a:hover {
  color: white;
}

.nav__sophie {
  font-family: "Lora", serif;
  font-size: 3.5rem;
  color: #2c2c2c;
  font-weight: 900;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  width: 1280px;
  max-width: 80%;
}

.header {
  background: #f6a823;
  min-height: 100vh;
  padding: 10rem 0;
  margin: 0 auto;
  position: relative;
}

.header__logo {
  height: 100%;
  width: 60%;
  position: relative;
}

.header__text {
  color: #2c2c2c;
  font-family: "Lora", serif;
  font-size: 6rem;
  font-weight: bold;
  line-height: 9.2rem;
  margin: 0 auto;
  padding: 8rem 0 0 5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.header__image {
  width: 30%;
  position: absolute;
  right: 10%;
  bottom: -3%;
}

.header__photo {
  margin-top: 2rem;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
  display: block;
  width: 100%;
}

.header__logo--circle {
  position: absolute;
  top: 40%;
  left: 15%;
}

.contact__header {
  background: url(../assets/contact-image-1.jpg) no-repeat center;
  background-size: cover;
  min-height: 45vh;
  margin: 0 auto;
  padding: 20rem 0 0 0;
}

.contact__title {
  color: #2c2c2c;
  font-family: "Lora", serif;
  font-size: 8rem;
  font-weight: bold;
  line-height: 9.2rem;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  top: 36%;
}

.about {
  background: #f0efed;
  padding: 5rem 0;
  margin: 0 auto;
}

.about__container {
  width: 100%;
  margin: 0 auto;
}

.about__title {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 4.2rem;
  letter-spacing: 1px;
}

.about__body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 2rem;
}

.about__more {
  background: #05afc1;
  width: 23rem;
  padding: .8rem 0;
}

.about__link {
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.about__image {
  padding-right: 5rem;
}

.about__image--orange {
  margin-right: 5rem;
  -webkit-box-shadow: 15px 15px #f6a823;
          box-shadow: 15px 15px #f6a823;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem 0;
  margin: 0 8rem;
}

.posts__fav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.posts__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.posts__container {
  padding: 0 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 70%;
}

.posts__container--left {
  padding-left: 5rem;
}

.posts__container--right {
  padding-right: 5rem;
}

.posts__body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 2rem;
}

.posts__image--yellow {
  -webkit-box-shadow: 10px 10px #f6a823, 80px 10px #f6a823;
          box-shadow: 10px 10px #f6a823, 80px 10px #f6a823;
}

.posts__image--orange {
  -webkit-box-shadow: 10px 10px #a82706, -80px 10px #a82706;
          box-shadow: 10px 10px #a82706, -80px 10px #a82706;
}

.links {
  padding: 5rem 0 0 0;
}

.links__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links__more {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #2c2c2c;
}

.links__icon {
  padding: 2rem;
  font-size: 2rem;
}

.links__container {
  width: 50%;
  min-width: 450px;
  padding: 0 0 5rem 0;
  margin: 0;
}

.links__title {
  margin: 0 0;
  display: inline;
  padding: 1rem 0 0 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #2c2c2c;
}

.links__more--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 5rem;
  color: #2c2c2c;
  background-color: #f6a823;
  border-radius: 50%;
  padding: 0;
}

.links__body {
  margin: 0 0;
  padding: 1rem 0 0 6rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-size: 2rem;
}

.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery {
  padding: 8rem 0;
}

.gallery__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0;
  padding: 0 0;
}

.gallery__image--padding {
  padding: 0 2rem;
}

.contact {
  background: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 4% 10% 0 10%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.contact__form--size {
  padding-left: 5%;
}

.contact__form--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2.5% 0;
}

.contact__form--submit {
  text-align: center;
  margin: 2.5% auto;
  width: 100%;
  background: #05afc1;
  border: 1px solid #05afc1;
  text-transform: uppercase;
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.contact__side {
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0 2rem 2rem;
  background: white;
  height: 250px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0;
  padding: 0;
  width: 50%;
}

.contact__links--item {
  color: #f6a823;
  font-size: 2rem;
}

.contact__email {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

.contact__address {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  font-style: normal;
}

.input {
  padding: 1rem;
  border: 0px solid white;
  font-size: 2rem;
}

.input::-webkit-input-placeholder {
  font-style: italic;
}

.input:-ms-input-placeholder {
  font-style: italic;
}

.input::-ms-input-placeholder {
  font-style: italic;
}

.input::placeholder {
  font-style: italic;
}

.input--half {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 0;
}

.input--name {
  margin-right: 3%;
}

.input__message {
  height: 250px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__side {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: #f0efed;
  padding: 0 5% 0 10%;
}

.blog__form {
  margin: 0 0;
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.blog__form--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2.5% 0;
}

.blog__form--submit {
  text-align: center;
  margin: 2.5% auto;
  width: 100%;
  background: #05afc1;
  border: 1px solid #05afc1;
  text-transform: uppercase;
  color: #2c2c2c;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.blog__photo {
  width: 50%;
  padding: 1rem;
}

.blogposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background: #f0efed;
  padding-right: 10%;
}

.blogposts__main {
  background: white;
}

.blogposts__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.blogposts__second--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogposts__second--text {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.recent {
  border: 1px solid purple;
  background: white;
}

.data {
  background: white;
  border: 1px solid tomato;
}
/*# sourceMappingURL=style.css.map */